<!-- <div class="alert alert-secondary p-0">
    <h4 class="alert-heading m-3 mb-0">Well done!</h4>
    <p class="m-3 mt-1">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    <div class="card-footer d-flex justify-content-between p-2">
        <p class="m-auto task-footer-date">Do Date: 2022/2/20</p>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div> -->

<div class="alert alert-primary p-0">
    <h4 class="alert-heading m-3 mb-0">{{task.title}}</h4>
    <p class="m-3 mt-1">{{task.description}}</p>
    <div class="card-footer d-flex justify-content-between p-2">
        <p class="m-auto task-footer-date">Do Date: {{task.date}}</p>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success">Done</button>
        </div>
    </div>
</div>