<div class="container mt-5 col-lg-6">
    <div class="card text-center">
        <div class="card-header text-start d-flex justify-content-between">
            <figure>
                <blockquote class="blockquote">
                    <p>{{ title }}</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0">{{ description }}</figcaption>
            </figure>
            
            <app-add-task style="margin: auto 0"></app-add-task>

        </div>
        <div class="card-body text-start">
          

            <app-task-item *ngFor="let task of tasks" [task]="task" (onDoneTask)="doneTask(task)"></app-task-item>


        </div>
        <div class="card-footer text-muted">
          V1.0
        </div>
    </div>
</div>
  