<div class="container mt-5 col-lg-6">
    <div class="card text-center">
        <div class="card-header text-start d-flex justify-content-between">
            <figure>
                <blockquote class="blockquote">
                    <p>{{ title }}</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0">{{ description }}</figcaption>
            </figure>
            <!-- Button trigger modal -->
            <button type="button" class="btn own-btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Task
            </button>
        </div>
        <div class="card-body text-start">
          

            <div class="alert alert-secondary p-0">
                <h4 class="alert-heading m-3 mb-0">Well done!</h4>
                <p class="m-3 mt-1">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                <div class="card-footer d-flex justify-content-between p-2">
                    <p class="m-auto task-footer-date">Do Date: 2022/2/20</p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>

            <div class="alert alert-primary p-0">
                <h4 class="alert-heading m-3 mb-0">Well done!</h4>
                <p class="m-3 mt-1">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                <div class="card-footer d-flex justify-content-between p-2">
                    <p class="m-auto task-footer-date">Do Date: 2022/2/20</p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success">Done</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer text-muted">
          V1.0
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="taskTitle" class="form-label">Title</label>
                  <input type="text" class="form-control" id="taskTitle">
                </div>
                <div class="mb-3">
                    <label for="taskDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="taskDescription"></textarea>
                  </div>
                <div class="mb-3">
                  <label for="taskDoDate" class="form-label">Do date</label>
                  <input type="date" class="form-control" id="taskDoDate">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
  